body {
  font-family: Helvetica;
  background-color: #F8F9FA;
  padding: 0;
  margin: 0;
}
.body__section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}


/* !!!!!!!!!!!!!მარცხენა მხარის ნავიგაცია*/
.body__nav {
  min-width: 4vw; /*18*/
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #FFFFFF;
}
.body__nav-image {
  width: 3.5vw;
}

.body__nav-icons{
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body__nav-logo {
  height: 65px;
  border-bottom: 1px solid #dde3ee;
}
.body__nav-profile {
  height: 65px;
  padding-top: 10px;
}

.body__nav-icons img:hover {
  height: 95%;
  width: 95%;
  background-color: cornflowerblue;
}
.body__nav--photos img{
  height: 60%;
  width: 60%;
}
.body__nav-logo img {
  height: 35%;
  width: 60%;
}
.body__nav-profile img{
  height: 50%;
  width: 60%;
  border-radius: 25px;
  border: 2px double #70D9E2;
}

/* !!!!!!!მარცხენა მხარის მეორე ნავიგაცია */
.body__nav-navigator {
  width: 14.5vw;
  background-color: #7a82a1;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 0px #dde3ee inset;
}
.body__nav-niche {
  height: 55px;
  box-shadow: 1px 0px #dde3ee inset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: #5D6B9F;
}
.body__nav-category {
  background-color: #9DA9D5;
  height: 55px;
  box-shadow: 1px 0px #dde3ee inset;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.body__nav-details {
  padding-top: 20px;
  background-color: #ECEDF5;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  box-shadow: 1px 0px #dde3ee inset;
}
.nav-details__item {
  border-radius: 3px;
  height: 6%;
  width: 85%;
  box-shadow: 0px 1px #dde3ee;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  font-size: 13px;
  color: #29304B;
}
.nav-details__item-image {
  width: 8px;
  height: 8px;
  padding-right: 10px;
}
.nav__niche-text {
  color: white;
  font-size: 14px;
}

.niche__items--producer {
  height: 10px;
  width: 10px;
}



/*მთავარი ნაწილი*/
.main {
  padding-left: 18vw;
  width: 80vw;
  height: 100vh;
}

.main__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* header and Search-bar */

.main__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 11vh;
}

.main__nav-search-bar {
}
.search-bar {
  width: 400px;
  height: 35px;
  font-size: 12px;
  color: #3B425B;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid #dde3ee;
}
#searchButton {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #dde3ee;
  background-color: #FFFFFF;
}
#searchButton img {
  width: 55%;
  height: 35%;
}

.header__button-inventory {
  height: 45px;
  width: 145px;
  background-color: #61D5DF;
  border: none;
  color: #FFFFFF;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 15px;
}

.header__button--selector {
  height: 35px;
  width: 100px;
  margin-right: 15px;
}
.header__span {
  color: #3E455D;
  font-size: 13px;
  padding-left: 15px;
  border-left: 2px solid #DBDCDC;
}


/* Sort */
.main__nav-sort{
  width: available;
  background-color: rgb(255,255,255);
  height: 45px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  padding-left: 90px;
  color: #ACA9A9;
}
.main__nav-select {
  margin-left: 10px;
  border: none;
  color: #ACA9A9;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-select__option {
  color: black;
  font-size: 13px;
}

/* კატალოგი */
.main__catalog {
  width: 80vw;
  height: 85vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:  center;
  gap: 25px;
  margin: 15px auto;
}

.catalog__item:hover {
  border: 2px solid #61D5DF;
}
.catalog__item{
  background-color: #FBFBFB;
  height: 290px;
  flex: 1 290px;
  max-width: 270px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid #dde3ee;
  padding: 2px;
}

.catalog__item-photo {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog__item-photo img {
  height: 95%;
  width: 65%;
}

.catalog__item-name {
  height: 50px;
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 2px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #434343;
  padding-left: 10px;
}
.catalog__item-price {
  color: #616161;
  font-size: 16px;
  display: flex;
  height: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  border-radius: 12px;
  background-color: #FFFFFF;
  padding-left: 10px;
}

input {
  outline: none;
}

.checkbox {
  position: absolute;
  margin-bottom: 250px;
  margin-left: 15px;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #61D5DF;
}


/* Modal */

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 14, 70, 0.7) !important;
}

li {
  list-style: none;
}

.modal__item-image img {
  display: block;
  max-width: 60%;
  max-height: 100%;
  margin-left: 75px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  transition: all 0.3s;
  transform: scale(1);
}
.modal__item-image:hover img {
  transform: scale(1.2);
}
.price__item {
  margin-left: 75px;
  padding-bottom: 30px;
  padding-top: 0;
  color: #616161;
}
.modal__product {
  width: 200px;
  height: auto;
}
.modal-item__right {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 45%;
  background-color: #FBFBFB;
  border-radius: 15px;
}
item__info-price {
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price__item-text {
  colo: #9A9A9A;
  font-size: 14px;
}
.price__item {
  margin: 20px 20px 60px 20px;
  width: 80%;
  height: 50px;
  padding: 9.3px 29px 8.3px 20px;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
  border-top: 1.5px solid #fff;
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

price__item-Rrp {
  text-align: left;
}
.price__item-Cost {
  text-align: left;
  border-left: 2px solid white;
  padding-left: 20px;
}
.price__item-Profit {
  border-left: 2px solid white;
  padding-left: 20px;
  text-align: left;
  color: #61D5DF;
}
.item_title {
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  text-align: left;
  color: #3B3B3B;
  margin-top: 10px;
  margin-bottom: 45px;
  word-wrap: break-word;
  margin-right: auto;
}
.item_productdesc {
  margin-right: auto;
  border-bottom: 1px solid #3B3B3B;
  padding-bottom: 18px;
}

.item_description {
  text-align: left;
  line-height: 150%;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  color: #747474;
}
.modal-item__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 55%;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
}
.modal__product {
  width: 0px;
  height: auto;
  margin-top: 10px;
}

.modal-content-wrapper {
  position: fixed;
  width: 76%;
  height: 94%;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  border-radius: 15px;
}

.item__button {
  height: 40px;
  width: 120px;
  font-size: 12px;
  margin-left: 50px;
  background-color: #61D5DF;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  margin-left: 15px;
  margin-bottom: 45px;
}

.modal__close {
  width: 20px;
  height: 20px;
}

.firstPage__main {
  height: 100vh;
  width: 99vw;
  background-image: url("./Icons/laptop.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a7bee8;
  opacity: 0.9;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.firstPage__main-text {
  height: 250px;
  width: 700px;
  border-radius: 4px;
  color: white;
  background-color: #2B2C41;
  opacity: 0.8;
  text-align: center;
}
.span__title-num {
  padding-top: 50px;
  font-size: 45px;
  font-weight: 200;
  color: #75BECC;
  margin: auto;
}
.span__title-name {
  margin-top: -13px;
  padding-top: -1px;
  font-size: 18px;
}
.span-slogan {
  color: #ffffff;
  padding-top: 10px;
  font-size: 20px;
  letter-spacing: 1.8px;
  line-height: 30px;
}


.firstPage__main-par {
  margin: auto;
}

/*Cart*/

.cart__header {
  padding-left: 3px;
  color: #303856;
  font-size: 17px;
  margin-top: 25px;
}


/* Log In */

.login__item--wrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login__item-line {
  border-bottom: 1px solid grey;
  width: 120px;
}
.login__logo {
  height: 30px;
}
.login__header {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-items: flex-start;
  margin-right: 120px;
}
.login__input-item {
  padding-left: 10px;
  width: 300px;
  height: 50px;
  border: 1px solid grey;
  box-shadow: 0.7px 0.9px #888888;
  border-radius: 8px;
}
.login__input-item:hover {
  border: 1px solid #61D5DF;
}
.login__main-span {
  font-size: 14px;
  color: grey;
}
.login__logo-media {
  height: 35px;
  flex: 1;
  padding-top: 5px;
}
.login__social-media--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media  screen  and (max-width: 1000px){
  .body__nav {
    display: none;
  }
}

@media  screen  and (max-width: 1000px){
  .main__div {
    margin: 0 auto;
  }
}

@media  screen  and (max-width: 1000px){
  .header__span {
    display: none;
  }
}
@media  screen  and (max-width: 1000px){
  .search-bar{
    width: 100px;
  }
}
@media  screen  and (max-width: 570px){
  .header__button-inventory{
    display: none;
  }
}


@media  screen  and (max-width: 1000px){
  .main__nav-sort{
    display: none;
  }
}


